{% extends 'base.html' %}


{% block content %}


<h1>{{ post.title }}</h1>
<small> Written by: {{ post.author }} <br>
	Reviewed By: {{ post.reviewer.first_name }} {{ post.reviewer.last_name }} 
	{% if user.is_authenticated %} - <a href="{% url 'update_post' post.pk  %}">(edit)</a> - <a href="{% url 'delete_post' post.pk  %}">(delete)</a></small> {% endif %}
<h4>Reviewed: {{ post.pub_date }} </h4>
<br>
<h6>You should know that this book contains: {{ post.should_know }} </h6>
<br>
{{ post.body | safe}}

<br>
<br>



<a href="{% url 'home' %}" class="btn btn-info" >Back</a>

{% endblock %}
</body>
