{% extends 'base.html' %}
<title>Info</title>
{% block content %}

{% if user.is_authenticated %}

<br>
<br>
<center><h1>Info</h1></center>
<br>

<h5>Here are the guidlines to reviews:<br></h5>
<p>This is a christian group, in everything you say be sure it reflects that.<br>
This is serious, reviews must be well thought out and written to the reviewers best ability. <br>
Reviews should be a minimum of 150 words.<br>
If you didn't like the book be gracious in how you say it.<br>
I would recomend having a formula for how you write your reviews<br>
Please use HTML formatting, even if it is as simple as surronding your paragraphs in < p >< /p > tags   If you do not know how to use HTML tags contact me!<br>
<br>
<h5>Review Fields: </h5>
Title: Title of the book <br>
Author: Author of the book <br>
Reviewer: Select your username from the dropdown list <br>
Genre: The genre of the book (e.x Dystopian or Fantasy) <br>
You Should Know: Enter any content that may be offensive (e.x. Spells, a little on the dark side) for language use * for vowels (e.x. D*mn) <br>
Snippit: The snippit that will show on the homepage.  Think of it as a teaser. <br>
Body: The content of your review (see guidlines above) <br>
<br><br><br><br><br>

</p>


{% else %}
<p>That didn't work</p>

{% endif %}
{% endblock %}