{% extends 'base.html' %}
<html>
<head>
	<title>{% block title %}Reviewers{% endblock %}</title>
</head>
<body>

<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/42be6728f010b560b0c7f3b92/2a79b792c7382a517757c327c.js");</script>

{% block content %}

<h1>Reviewers</h1>

<ul>
{% for post in object_list %}
	<li><a href="{% url 'article-detail' post.slug  %}">{{ post.title }}</a> - {{ post.reviewer }} - {{ post.genre }}

		 {% if user.is_authenticated %} - <small><a href="{% url 'update_post' post.slug  %}">(edit)</a> - <a href="{% url 'delete_post' post.slug  %}">(delete)</a></small><br>{% endif %}
	{{ post.snippit}}</li>
{%endfor%}
</ul>

{% endblock %}
</body>
</html>