{% extends 'base.html' %}


{% block content %}
{{ Reviewer.reviewer }}

{{ Reviewer.bio }}


<h1>TEST</h1>


<ul>
	{% for post in reviewer_posts %}



	<li><a href="{% url 'article-detail' post.slug  %}">{{ post.title }}</a> - {{ post.reviewer }} - {{ post.genre }}

		 {% if user.is_authenticated %} - <small><a href="{% url 'update_post' post.slug  %}">(edit)</a> - <a href="{% url 'delete_post' post.slug  %}">(delete)</a></small><br>{% endif %}
	{{ post.snippit}}</li>
	<br>
	{% endfor %}

	

</ul>





{% endblock %}